img{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}
.travel__img{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    margin-left: 300px;

}
p{
    margin-top: 250px;
    margin-left: -80px;
}

h2{
    margin-top: 200px;
    margin-left: -80px;
}
h1{
    margin: 0 auto;
    margin-left: 500px;
    font-size: 30px;
    margin-top: 20px;
}



.input{
    margin: 0 auto;
    margin-left: 500px;
    font-size: 20px;
    margin-top: 20px;
}
.label{
    margin: 0 auto;
    margin-left: 500px;
    font-size: 20px;
}

button{
    margin: 0 auto;
    margin-left: 500px;
    font-size: 20px;
    margin-top: 25px;
}